---
layout: default
section: blog
---

  {% for item in paginator.posts %}
    {% capture date %}{{ item.date | date: '%B %Y' }}{% endcapture %}
    {% capture ndate %}{{ item.next.date | date: '%B %Y' }}{% endcapture %}



    

    {% if date != ndate %}
      <!-- <h3 id="{{item.date | date: '%B %Y'}}" class='month'></h3> -->
    {% endif %}


    <div class="post-row">
  
        <div class="post-cover" style="background-image:url('{{item.image}}');">
          <!-- <img class="post-cover" src='{{item.image}}' alt='' /> -->
          <div class="bottom-gradient gradient30"></div>
        </div> <!-- /post-cover -->
     
  <div class="col-md-8 col-md-offset-2">
    
    <article class="post">
      <a class="link-block" href="#" title="">
        <header class="post-wrapper">
        <h1 class="post-title"><a href="#" rel="bookmark" title="Gently Flowing River">{{item.title  | upcase}}</a></h1>
        <div class="post-excerpt">lat: {{ item.lat }} / lng: {{item.lng}}</div>
      </header> <!-- post-wrapper -->
      <div class="post-meta-wrapper">
        <div class="post-meta">
                      <span>{{item.date | date:"%B %d, %Y"}}</span>
        </div>
      </div>
      </a>
    </article> <!-- post -->
  </div>
  </div> <!-- /post-row-x --> 






    
      {% endfor %}


      {% if paginator.total_pages > 1 %}
          <div class="paginationCenter" style="font-size: 18px;">
            <div class="previousLeft" style="float:left;">
              {% if paginator.previous_page %}
                <!-- <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo; Previous</a> -->
                <div class="cf more-link"><a id="almc-load-more" href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}" class="btn btn-primary">Previous</a></div>
              {% else %}
                <!-- <span>&laquo; Prev</span> -->
                <div class="cf more-link"><a id="almc-load-more" href="' + $next_href + '" class="btn btn-primary">Previous</a></div>
              {% endif %}
            </div>

            <div class="nextRight" style="float:right;">
              {% if paginator.next_page %}
                <!-- <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next &raquo;</a> -->
                <div class="cf more-link"><a id="almc-load-more" href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}" class="btn btn-primary">Next</a></div>
              {% else %}
                <!-- <span>Next &raquo;</span> -->
                <div class="cf more-link"><a id="almc-load-more" href="#" class="btn btn-primary">Next</a></div>
              {% endif %}
            </div>
          </div>
        {% endif %}

        <!-- <a href="/blog/2/" class="blog-fixed-next round-left fr pager-next button rcon next">2</a> -->

     

</div>
<div class='col9 margin15 pad4'>
  <a href=''></a>
