---
layout: default
section: blog
---

<div class="blog-header">
  <h3 class="blog-title">LATEST NEWS</h3>
</div>

<div class='listing col7 margin15 pad4h'>
  {% for item in site.categories.blog limit:1000 %}
    {% capture date %}{{ item.date | date: '%B %Y' }}{% endcapture %}
    {% capture ndate %}{{ item.next.date | date: '%B %Y' }}{% endcapture %}

    

    {% if date != ndate %}
      <!-- <h3 id="{{item.date | date: '%B %Y'}}" class='month'></h3> -->
    {% endif %}
    <div id="{{item.title}}" class="article clearfix">
        <div class='date clearfix'>
          <div class="dateText">{{item.date | date:"%B %d, %Y"}}</div>
        </div>
    
        <div class="itemTitle">
        <a class='item' href='{{site.baseurl}}{{item.url}}'>{{item.title  | upcase}}</a>
        </div>
        <div class="memberConatainer clearfix">
        {% if item.members %}
          {% for member in site.data.members %}
            {% if member.name == {{item.members}} %}
            <img class="memberThumbnail" width="30px" height="30px" src='{{site.baseurl}}/img/members/{{member.pic}}' alt='' />
            {% endif %}
          {% endfor %}
        <strong>{{item.members}}</strong>
        {% else %}
          <img class="memberThumbnail" width="30px" height="30px" src='{{site.baseurl}}/img/gear.png' alt='' />
          <strong>SpatialDev</strong>
        {% endif %}
        </div>

          {% if item.image %}
            {% if item.splash contains 'http' %}
              {% capture url %}{{item.image}}{% endcapture %}
            {% else %}
              {% capture url %}{{site.baseurl}}{{item.image}}/{% endcapture %}
            {% endif %}

            <div class='splash'>
              <a href="{{item.url}}"><img max-width="848px" src='{{item.image}}' alt='' /></a>
            </div>

          {% endif %}

        {% if item.summary %}
        <div class="summeryText" >{{ item.summary }}<a href="{{site.baseurl}}{{item.url}}"><br><span>read more</span><a></div>
        {% endif %}

        {% if item.tags != empty %}
          {% for item in item.tags %}
          <a class="label label-info" href="{{site.baseurl}}/tags/{{ item }}"><i class="fa fa-tags"></i>  {{ item }}</span></a>
          {% endfor %}
        {% endif %}


         {% if item.lng %}
        <div class="mapContainer collapseMap"><span id='seeMap' >see map</span>
            <!-- <div class="eventmonth">{{item.eventdate}}</div> -->
            <div class="googlemap">
              <a href="https://www.google.com/maps/place/{{item.lat}},{{item.lng}}" target="_blank"><img src="http://maps.googleapis.com/maps/api/staticmap?center={{item.lat}},{{item.lng}}&zoom=13&size=100x100&maptype=roadmap&markers=color:red%7Csize:small%7C{{item.lat}},{{item.lng}}" >
            </div></a>
        </div>
        {% endif %}




      </div>
      {% endfor %}

     

</div>
<div class='col9 margin15 pad4'>
  <a href=''></a>
</div>
