<div class="sidebar-module socialIcon">
              <!-- <a class='{% if page.url == "about/" %}active{% endif %}' href='{{site.baseurl}}/about'><i class="fa fa-info-circle"></i></a> -->
              <a class="twitterLink" href='https://twitter.com/rrlara'><i class="fa fa-twitter"></i></a>
              <!-- <a href='https://www.facebook.com/pages/rrlara/207761724057?ref=br_tf'><i class="fa fa-facebook"></i></a> -->
              <a href='https://github.com/rrlara'><i class="fa fa-github"></i></a>
              
            </div>
            <div class="chosen-container chosen-container-multi" style="width: 300px;" title="" id="repolist_chosen"><input type="text" id="search" value="" class="typeahead" autocomplete="off"><i id="searchGlass" class="fa fa-search"></i>
            </div>